<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!-- 启用延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 最新版本默认为false，老版本为true,代表使用本对象也会去加载关联对象.设置为false,那只有调用关联对象的时候,才去查询-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.rtworld.pojo.Authority" alias="authority"></typeAlias>
        <typeAlias type="com.rtworld.pojo.Company" alias="company"></typeAlias>
        <typeAlias type="com.rtworld.pojo.Mail" alias="mail"></typeAlias>
        <typeAlias type="com.rtworld.pojo.MemberUser" alias="memberuser"></typeAlias>
        <typeAlias type="com.rtworld.pojo.Role" alias="role"></typeAlias>
    </typeAliases>

<!--    <environments default="oracledb">
        <environment id="oracledb">
            <transactionManager type="jdbc"></transactionManager>
            <dataSource type="pooled">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
                <property name="username" value="Tang"/>
                <property name="password" value="Ling"/>
            </dataSource>
        </environment>
    </environments>-->
    <!--匹配mybatisxml文件-->
<!--    <mappers>
        <mapper resource="com/seecen/myssm/daomapping/Trainee.xml"></mapper>
        <mapper resource="com/seecen/myssm/daomapping/Clazz.xml"></mapper>
        <mapper resource="com/seecen/myssm/daomapping/Teacher.xml"></mapper>
    </mappers>-->
</configuration>